[*.sh]
# https://github.com/patrickvane/shfmt
indent_style       = space
indent_size        = 4
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr

# Ignore the entire "third_party" directory.
[third_party/**]
ignore = true
